#digit-square {
  width: 250px;
  height: 150px;
  background: linear-gradient(to bottom, #a8a699, white);
  border-radius: 15px;
  position: relative;
  margin-top: 50px;

}

#digit-square::before {
  content: '';
  width: 240px;
  height: 140px;
  background: black;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.digit-block {
  width: 115px;
  height: 130px;
  background: linear-gradient(#3b3b3b, #3e3e3e, #3f3f3f);
  position: absolute;
  /* background: radial-gradient(ellipse at center, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%); */
  border-radius: 12px;
  transform-style: preserve-3d;
  transition: transform .5s linear;
}

.block-front,
.block-back {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: absolute;
  color: #f2ebe5;
  font-size: 90px;
  font-family: Helvetica, sans-serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
  line-height: 1.5em;
  text-align: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.block-front {
  transform: rotateX(0deg);
}

.block-back {
  transform: rotateX(180deg);
}

.digit-block:first-of-type {
  top: 9px;
  left: 7px;
}

.digit-block:nth-of-type(2) {
  top: 9px;
  left: 126px;
}




/* #block-m-front,
#block-m-back {
  top: 9px;
  left: 126px;
  border-radius: 12px;
  position: absolute;
  color: #f2ebe5;
  font-size: 90px;
  font-family: Helvetica, sans-serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
  line-height: 1.5em;
  text-align: center;
} */





#digit-hour,
#digit-minute {
  position: absolute;
  color: #f2ebe5;
  font-size: 90px;
  font-family: Helvetica, sans-serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
}

#digit-hour {
  top: 17%;
  left: 5%;
}

#digit-minute {
  top: 17%;
  left: 55%;
}